* {
    margin: 0;
    box-sizing: border-box;
}

body{
    /*
    display: grid;
    

    grid-template: "header" 1fr
                    "main" 1fr
                    "footer" 15%;
    */
    
    background-color: black;
}
img{
    
    /*width: 100%;*/
    object-fit:contain;
    
    max-width: 25%;
    
    max-height: 130px;
    margin: 0;
    padding: 0;
}
header img:first-child{
    border-right: 3px solid white;
}
header img:last-child{
    border-left: 3px solid white;
    
}
header{
    position:fixed;
    top: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 2px solid aqua;
    padding-left: 0;
    padding: 0;
    padding-right: 0;
    
    min-height: 100px;
    max-height: 130px;
    width: 100%;
    

    
}

header ul{
    color: aliceblue;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2,auto);
    
    background-color:blue;
    border-radius: 40px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    padding-left: 0px;
}
header ul li{
    text-align: center;
    vertical-align: auto;
    padding: 1.3rem;
    margin: -1.5px;
    
}
header li:first-child{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

header li:last-child{
    border-left: 3px solid white;
    border-top: 3px solid white;
}

main{
    margin: 4rem;
    margin-top: 150px;
}
main h1,main h2{
    color: aliceblue;
    margin-top:2rem;
    margin-bottom: 1rem;
}
main p{
    background-color: bisque;
    border-radius: 1rem;
    padding: 1rem;
    color: black;
    
}

footer{
border-top: 3px solid brown;
position:fixed;
bottom:0;
width: 100%;
align-items: center;
text-align: center;
max-height: 100px;
vertical-align: middle;
background-color: aliceblue;

color: brown;
}

footer p{
    border-top: 3px solid brown;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    padding-top: 1rem;
    color: brown;
}
@media screen and (min-width: 650px) {
    main{
        margin: 20%;
        margin-top: 220px;
    }
    footer{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        height: 90px;
    }
    footer img{
        height: 50px;
    }
    footer p{
        border-top: 0px;
        margin: 10px;
    }
}